
body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    text-align: center;
}
table {
    width: 60%;
    margin: 20px auto;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #fff;
    padding: 10px;
}
th {
    background-color: #222;
}
button {
    background-color: orange;
    color: black;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
button:hover {
    background-color: rgba(255, 0, 0, 0.829);
    box-shadow: 0 8px 16px rgba(255, 165, 0, 0.8);
    transform: scale(1.05);
}